html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -49px;
   float:left
}
div#container
{
   width: 302px;
   height: 98px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
}
#wb_Text82 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text82 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_uid1
{
   color: #003565;
   font-family: Arial;
   font-size: 20px;
}
#wb_uid2
{
   line-height: 29px;
}
#wb_uid3
{
   color: #003565;
   font-family: Arial;
   font-size: 20px;
}
#wb_Text82
{
   position: absolute;
   left: 13px;
   top: 20px;
   width: 284px;
   height: 56px;
   text-align: center;
   z-index: 1;
}
#wb_Shape19
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 305px;
   height: 96px;
   z-index: 0;
}
#Shape19
{
   border-width: 0;
   width: 305px;
   height: 96px;
}
#wb_uid0
{
   line-height: 28px;
}
